########################################################
# App Config
########################################################
PORT=3000

########################################################
# Auth Config
########################################################
JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES=15m
JWT_RESET_SECRET=change_me_reset_secret
JWT_RESET_EXPIRES=15m
REFRESH_TOKEN_EXPIRES_DAYS=30

########################################################
# Database Config
########################################################
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=botdrigo
DB_LOGGING=false

